footer
  .footer-wrapper
    .footer-content.left-content
      ul
        li: a('') Twitter
        li: a('') Facebook
        li: a('') Instagram
        li: a('') Pinterest
    
    .footer-content.center-content
      ul
        li: a('') Twitter
        li: a('') Facebook
        li: a('') Instagram
        li: a('') Pinterest
    .footer-content.center-right
      ul
        li: a('') Twitter
        li: a('') Facebook
        li: a('') Instagram
        li: a('') Pinterest
