footer
  .footer-wrapper
    .footer-lists  
      .footer-content.left-content
        ul Social Media
          li: a('') Twitter
          li: a('') Facebook
          li: a('') Instagram
      
      .footer-content.center-content
        ul Links
          li: a('') vielmehr.at
          li: a('') link.xy
          li: a('') morelinks.com
          li: a('') lastlink.at

      .footer-content.right-content
        ul Impressum
          li pin – Verein für Partizipation, Integration & Nachhaltigkeit
            br
            |Straße / Hausnummer
            br
            |PLZ / Ort
            br
            |Land
            br
            |Telefon: +43 123 456
      
      .footer-content.right-content  
        ul Bankverbindung
          li
            |Bankname: Bawag PSK
            br
            |IBAN: AT000000000000000000000
            br
            |BIC: BBBBBBBBBBB
    //- 
    //- 
    .footer-base
      p © 2016 pin – Verein für Partizipation, Integration & Nachhaltigkeit
