mixin nav-content()
	ul.language-list
		{% assign languages = site.nav %}
		{% for lang in languages %}
		{% if lang.language == page.language %} {% assign has_class='language--active' %} {% else %} {% assign has_class='' %} {% endif %}

		li: a(class='{{has_class}}' href='{{lang.index}}') {{lang.language}} 
		
		{% endfor %}
		
	.nav-seperator
		
	ul.link-list
		{% assign navigation=site.nav | where:'language', page.language %}
		//- p {{navigation['links']}}
		{% for nav in navigation %}
		{% for link in nav.links %}
		li: a(href='#{{link.href}}').scroll-on-page-link {{link.title}}
		{% endfor %}
		{% endfor %} 
		
.mobile-nav
	+nav-content()
		
header
	.header-position
		a(href='#start').scroll-on-page-link
			h1.logo.logo--invisible pin
		
		nav.site-nav
			+nav-content()
		
		.icon-box
			.icon.icon--fb
			.icon.icon--tw
			.icon.icon--tg
				span

		
		.mobile-nav-toggle: span
		
