section.participate#participate
  .flex.flex--center
    .col-spread
      h1.title-text Participate
      p.lead-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

  
  .flex.flex--center
  
    .col-1.col-scroll-bg.col--participate
      .image
      .col-content.col-content--participate 
        h1 Participate
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        a.button-cta.col-cta Join now 
        
    .col-1.col-scroll-bg.col--donate
      .image
      .col-content.col-content--donate
        h1 Donate
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut eni
        a.button-cta.col-cta Donate now 
        
