section.projects#projects
  .projects-wrap  
    .flex.flex--center
      .col-spread
        {% assign pages = site.pages | where: 'ref', 'projects' %}
        
        
        {% for this_page in pages %}
        
        {% if this_page.language == page.language %}
      
        h1.title-text 
          {{this_page.title}}
        
        p.lead-text 
          {{this_page.content}} 
        
        {% endif %}
        
        {% endfor %}
    
    .flex.flex--center
      .col-full

        .cards
          
          {% assign posts = site.posts | where:'categories', 'projects' %}
          {% assign lang_posts=posts | where:'language', page.language | sort: 'weight' %}
          
          {% for post in lang_posts %}
          
          .card
            .card-image
              img(src='{{ post.image }}', alt='')
                
            .card-header
              .title-text.small {{ post.title }}
              
                 
            .card-copy
              div 
                {{ post.content }}          
          {% endfor %}
               
          
