section.projects#projects
  .projects-wrap  
    .flex.flex--center
      .col-spread
        h1.title-text Projects
        p.lead-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    
    .flex.flex--center
      .col-full

        .cards
          .card
            .card-image
              img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png', alt='')
                
            .card-header
              | First Card
                 
            .card-copy
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.
               
          .card
            .card-image
              img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-4.png', alt='')

            .card-header
              | Another Card
              
            .card-copy
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.
            
          .card
            .card-image
              img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-3.png', alt='')
               
            .card-header
              | The Last Card
                
            .card-copy
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
