section.projects#projects
  .projects-wrap  
    .flex.flex--center
      .col-spread
        {% assign pages = site.pages | where: 'ref', 'projects' %}
        
        
        {% for this_page in pages %}
        
        {% if this_page.language == page.language %}
      
        h1.title-text 
          {{this_page.title}}
        
        p.lead-text 
          {{this_page.content}} 
        
        {% endif %}
        
        {% endfor %}
    
    .flex.flex--center
      .col-full

        .cards
          
          {% assign posts = site.posts | where:'categories', 'projects' %}
          {% assign lang_posts=posts | where:'language', page.language | sort: 'weight' %}
          {% assign read-more=site.read-more | where:'language', page.language | first %}
          {% for post in lang_posts %}
          
          .card(onclick='activateProject(this, {{post.projectID}})')
            .card-background(style='background: url({{ post.image }})')
            .card-short  
              .card-image(style='background: url({{ post.image }})')
                //- img(src='{{ post.image }}', alt='')
                  
              .card-header
                .title-text.small {{ post.title }}
                
                   
              .card-copy
                div 
                  {{ post.excerpt }}
                  
                .read-more
                  {{ read-more.phrase }}
              
              //- .card-footer
              //-   {{ post.footer }}   
              
            .project-item-full.card-long(id='{{post.projectID}}')
              .project-content-wrapper
                h1.title-text.lead {{post.title}}
                
                  
                .project-content {{post.content}}
                
              
          {% endfor %}
               
  //-         
  //- a(href='#{{ post.newsID }}').news-item-box.modal
  //- 
  //-   +news-item("{{post.title}}", "{{ post.date | date: date-style.format }}", "{{post.excerpt}}", "{{read-more.phrase}}")
  //-    
  //- .news-item-full.modal-inner(id='{{post.newsID}}')
  //-   
  //-   .modal-content-wrapper
  //-     h1 {{post.title}}
  //-     p.modal-intro {{ post.date | date: date-style.format }}
  //-       
  //-     .modal-content {{post.content}}
  //-     
  //-     
  //-     a(href='#')
  //-       .close-modal close
