mixin news-item(title, date, content)
  .news-item
    h3.news-title= title
    p.news-date= date
    p.news-content= content
section.startscreen#start
  .flex.flex--center
    .col-full
      h1.start-logo
      
    .news-wrapper  
      .news-box
        h2
          i(class="fa fa-plus")
          | News
        
        {% assign posts = site.posts | where:'categories', 'news' %}
        //- {% assign lang_posts=posts | where:'language', page.language | sort: 'date' %}
        
        {% for post in posts %}
        p hallo 
        //- +news-item("{{post.title}}", "{{post.date}}", "{{post.content}}")

        {% endfor %}
