section.team#team
  .flex.flex--center
    .col-spread
      .team-text  
        .title-text Team
        .lead-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.

      .team-member-box
  
        .team-member.team-member--left
          .member-content  
            .member-img(style='background-image: url(http://placekitten.com/100/110)')          
            h2 Anna-Laura Schreilechner
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  
        .team-member.team-member--right
          .member-content  
            .member-img(style='background-image: url(http://placekitten.com/110/120)')
            h2 Lena Pieber
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.


  
      //- .modal
      //-   label(for='modal-1')
      //-     .modal-trigger Anna-Laura Schreilechner
      //-   
      //-   input(type='checkbox').modal-state#modal-1
      //-   
      //-   .modal-fade-screen
      //-     .modal-inner
      //-       .modal-close(for='modal-1')
      //-       .modal-img(style='background-image: url(http://placekitten.com/100/110)')
      //-       h1 Anna-Laura Schreilechner
      //-       p.modal-intro.lead-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
      //-       p.modal-content Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      //- 
      //- .modal
      //-   label(for='modal-2')
      //-     .modal-trigger Lena Pieber
      //-   
      //-   input(type='checkbox').modal-state#modal-2
      //-   
      //-   .modal-fade-screen
      //-     .modal-inner
      //-       .modal-close(for='modal-2')
      //-       .modal-img(style='background-image: url(http://placekitten.com/120/100)')
      //-       h1 Lena Pieber
      //-       p.modal-intro.lead-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
      //-       p.modal-content Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
