section.team#team

  {% assign pages = site.pages | where: 'ref', 'team' %}
  
  {% for this_page in pages %}
  
  {% if this_page.language == page.language %}
  
  {{this_page.content}}
  
  {% endif %}
  
  {% endfor %}
        
