<div class="mobile-nav"><ul>{% assign navigation=site.nav | where:'language', page.language %}{% for nav in navigation %}
{% for link in nav.links %}<li><a href="#{{link.href}}">{{link.title}}</a></li>{% endfor %}
{% endfor %} </ul></div><header><div class="header-position"><h1 class="logo">pin</h1><nav class="site-nav"><ul>{% assign navigation=site.nav | where:'language', page.language %}{% for nav in navigation %}
{% for link in nav.links %}<li><a href="#{{link.href}}">{{link.title}}</a></li>{% endfor %}
{% endfor %} </ul></nav><div class="placeholder">pin</div><div class="mobile-nav-toggle"><span></span></div></div></header>