$about-border-radius: 4px

.section-about
  background: lighten($aqua, 12%)

  .title-text
    color: white
    text-shadow: -1px -1px 0 lighten($aqua, 5%)
    text-transform: uppercase

  .lead-text
    color: #333

  .block--about
    padding: 2rem 0
    .col-side
      margin: 4.5rem 0
      padding: 2rem 4rem
      // border: 2px solid #aaa
      background: white

      &.col-side--left
        border-left: none
        border-top-right-radius: $about-border-radius
        border-bottom-right-radius: $about-border-radius
        box-shadow: inset -7px 7px 14px -7px rgba(0,0,0,0.2)
        padding-left: 10rem

      &.col-side--right
        border-right: none
        border-top-left-radius: $about-border-radius
        border-bottom-left-radius: $about-border-radius
        box-shadow: inset 7px 7px 14px -7px rgba(0,0,0,0.2)
        padding-right: 10rem

      h2
        border-bottom: 1px solid transparentize(#333, 0.8)
        display: inline-block
        margin: .4rem 0 .2rem 0

    @media (max-width: 640px)
      .col-side
        &.col-side--left, &.col-side--right
          padding: 1rem 2rem
          border-radius: 0
          box-shadow: inset 0px 7px 14px -7px rgba(0,0,0,0.2)
