
footer
  background: black
  color: white
  padding: 4rem 0
  position: fixed
  bottom: 0
  width: 100%
  margin-left: 180px


  .footer-wrapper
    width: 640px
    margin: 0 auto
    @include outer-container

    .footer-content
      @include span-columns(4)


  @media (max-width: 800px)
    margin-left: 0px
