section.network
  background: lighten($color-bg-about, 10%)
  padding: 2rem
  .list-wrapper
    margin: 3rem 0 0
    padding: 1rem 2rem
    border: 1px solid #ddd
    background: rgba(white, .2)

  .network-list
    list-style: none
    padding: 0
