section.participate

  background-color: lighten($olive, 30%)
  min-height: 600px

  .col-spread
    padding-bottom: 2rem
    text-align: center

  .col-1
    width: 400px
    // height: 400px
    margin: 0 auto
    position: relative
    border-radius: 10px
    margin-bottom: 1rem

    .image
      width: 400px
      height: 360px
      border-radius: 10px

    &.col--participate
      .image
        background:
          image: url(../img/participate-icon_small_desat.png)
          repeat: repeat
          position: center 0px
          attachment: fixed

    &.col--donate
      .image
        background:
          // color: pink
          image: url(../img/donate-icon_small_desat.png)
          repeat: repeat
          position: center 0px
          attachment: fixed




    .col-content
      @include position (absolute, 0)
      background:
        color: rgba(white, .8)

      border-radius: 10px
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      color: #222
      padding: 20px 60px
      text-align: center
      // border: 3px solid rgba(black, .3)

      &.col-content--participate
        box-shadow: 1px 1px 3px rgba(black, .5) inset

      &.col-content--donate
        box-shadow: -1px 1px 3px rgba(black, .5) inset


      h1
        font-size: 3rem
        margin: 0
      p
        font-weight: 300

      .col-cta
        display: block
        border: 1px solid rgba(black, .8)
        padding: 10px 20px
        box-shadow: 0px 0px 0px rgba(black, .5)
        background: white
        transform: scale(.9)
        transition: all 200ms ease-in-out
        cursor: pointer
        font-weight: bold

        &:hover
          background: lighten($olive, 20%)
          box-shadow: 0px 2px 3px rgba(black, .5)
          transform: scale(1)
          color: white

        &:active
          box-shadow: 0px 0px 0px rgba(black, .5)
          transform: scale(.95)
          transition: all 50ms linear

  @media (max-width: 1024px)
    .flex
      display: block

    .col-1
      margin: 1rem auto


      .col-content
        padding: 20px 30px

  @media (max-width: 480px)
    .col-1
      width: auto
      margin: 1rem

      .image
        width: auto
