section.projects
  padding: 0
  color: white
  background:
    color: $bg-alt-color
    // image: url(../img/projects-bg.png)
    repeat: no-repeat
    size: cover
    position: center center
    attachment: fixed

  .projects-wrap
    padding: 3rem 0
    // background: rgba(white, .9)

    .col-spread
      margin-bottom: 2rem

    
